.fgu .main{
    /* height: 1850px; */
    width: 800px;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 50px;
    margin-top: 50px;
}
.fgu .nav{
    width: 380px;
    height: 450px;
    background: #fff;
    margin-top: 50px;
    /* margin-top: 106px; */

}
.fgu .main img{
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}
.fgu .main p{
    color: #000;
    font-size: 16px;
}
.fgu .main span{
    background: gold;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    display: inline-block;
    margin-bottom: 20px;
}
.fgu .nav{
    padding: 20px;
    color: #000;
    box-sizing: border-box;
    /* display: table;
    position: fixed;
    top: 0;
    right: 150px; */
}
.fgu .nav  span{
    font-size: 25px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 20px;

}
.fgu .nav  p{
    font-size: 14px;
    color: #666;
}
.fgu .nav .line{
    margin-top: 20px;
    width: 100%;
    height: 1px;
    background: #ccc;
    margin-bottom: 20px;
}
.fgu .nav .tag{
    background: #f0f4f5;
    width: 100px;
    height: 50px;
    border-radius: 80px 0 0 80px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    color: #000;
    position: relative;
}
.fgu .nav .tag2{
    margin-top: 20px;
}
.fgu .nav .pk{
    margin-top: 20px;
}
.fgu .nav .nh{
    margin-right: 60px;
}
.fgu .nav .hj{
    margin-right: 60px;
}
.fgu .nav .tag:after{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 12px;
    top: 50%;
    margin-top: -5px;
}
.fgu .nav .tag:hover{
    color: orange;
}
.pro {
    color: #000;
}
.pro  p{
    font-size: 14px;
}
.pro .pic{
    width: 100%;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.pro .pic div{
    float: left;
    width: 180px;
    height: 150px;
    box-sizing: border-box;
    margin: 0 12px;
    border-radius: 0 10px 10px 0;
    text-align: center;
    line-height: 150px;
    font-size: 18px;
    color: #fff;
    position: relative;
} 
.pro .pic .wr{
    background: rgba(0, 0, 0, 0.3);
    float: left;
    width: 180px;
    height: 150px;
    box-sizing: border-box;
    margin: 0 12px;
    border-radius: 0 10px 10px 0;
    text-align: center;
    line-height: 150px;
    font-size: 18px;
    color: #fff;
    margin-left: 0;
}
.pro .pic .pic1{
    margin-left: 0;
    background: url(../images/retroPage2/1.jpeg);
    background-size: 100% 100%;
}
.pro .pic .pic6{
    margin-right: 0;
    background: url(../images/retroPage2/2.jpeg);
    background-size: 100% 100%;
}
.pro .pic .pic2{
    background: url(../images/retroPage2/2.jpeg);
    background-size: 100% 100%;
}
.pro .pic .pic3{
    background: url(../images/retroPage2/3.jpeg);
    background-size: 100% 100%;
}
.pro .pic .pic4{
    background: url(../images/retroPage2/4.jpeg);
    background-size: 100% 100%;
}
.pro .pic .pic5{
    background: url(../images/retroPage2/5.jpeg);
    background-size: 100% 100%;
}
.pro .pic .tag{
    position: absolute;
    top: 0px;
    right: 10px;
    width: 14px;
    height: 8px;
    background-image: linear-gradient(rgb(255, 209, 0) 50%, transparent 50%);
    background-size: auto 4px;
}
.pro .pic .tag::after {
    content: "";
    left: 7%;
    position: absolute;
    top: 105%;
    width: 0px;
    height: 0px;
    border-width: 11px 7px 5px;
    border-style: solid;
    border-color: rgb(255, 209, 0) rgb(255, 209, 0) transparent;
    border-image: initial;
    border-top: 11px solid rgb(255, 209, 0);
    border-bottom: 5px solid transparent;
    box-sizing: inherit;
}

.shadow{
    box-shadow: 0 0 20px #000;
    cursor: pointer;
}

.page{
    background-size:cover;
}

.test1{
    position: fixed;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}



