
.head{
    width: 100%;
    height: 56px;
    background: red;
}
.head .logo{
    background: url(../img/sp/logo.png) no-repeat 30px 14px blue;
    width:380px;
    height: 56px;
    line-height: 56px;

}
.music{
    width: 82px;
    background: white !important;
    /* z-index: 1000; */
    display: none;
}
 .music li {
    float: left;
    text-align: center;
    height: 30px;
    line-height: 30px;
    
}
.search .seapic:hover .music{
    display: block;
    z-index: 10000;
    background: white;
}
.search{
    height: 56px;
    background: rgb(240, 244, 245);
    border-bottom: 4px solid black;
}
.search .photo{
    background: url(../img/sp/photo.PNG) 10px 10px no-repeat;
    width: 42px;
    height: 38px;
}
.search .seapic  span{
    display: inline-block;
    margin-left: -24px;
}
.qiutian .sucai .li1 {
    position: relative;
}
.qiutian .sucai .li1:hover .sucai1{
    display: block;
    left:-24px;
    top: 60px;

}
.qiutian .sucai .li2 {
    position: relative;
}
.qiutian .sucai .li3 {
    position: relative;
}
.qiutian .sucai .li2:hover .sucai2{
    display: block;
    position: absolute;
    left:0px;
    top:60px;
}
.qiutian .sucai .li3:hover .sucai3{
    display: block;
    position: absolute;
    left: 0px;
    top: 60px;
}
/* .qiutian .radios{
    height: 60px;
    line-height: 60px;
} */
.qiutian .radios .radios2{
    /* height: 60px;
    line-height: 60px; */
    margin-top: 15px;
}
.qiutian .radios  .radios2 div
{
		/* width: 120px; */
		height: 22px;
		margin-bottom:10px;
		font-size: 16px;
		font-weight: 700;
		line-height: 22px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
	}
 #myCheck,#myCheck2,#myCheck3{
		display: none;
	}
 #myCheck + label,#myCheck2 + label,#myCheck3 + label{
	    background-color: #eee;
	    border:3px solid #d3d3d3;
	    width:16px;
	    height:16px;
	    display: inline-block;
	    line-height: 6px;
	    box-sizing:border-box;
	    float: left;
	    margin:3px;
	}
	 #myCheck:checked + label,#myCheck2:checked + label,#myCheck3:checked + label{
	    border:3px solid rgb(234, 67, 53);
	    background: rgb(234, 67, 53);
	}
  #myCheck:checked + label:after,#myCheck2:checked + label:after,#myCheck3:checked + label:after{
	    content:"\2714";
	    color: #fff;
	    font-size: 12px;
    }


.qiutian .sucai li{
    width: 82px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    margin-left: 24px;
    font-weight: bolder;
    text-align: center;
}
.qiutian .sucai1{
    position: absolute;
    left: 0;
    top:120px;
    width:160px;
    background: white;
    display: none;
}
.qiutian .sucai2{
    position: absolute;
    left: 118px;
    top:120px;
    width:480px;
    background: white;
    display: none;
}
.qiutian .sucai3{
    position: absolute;
    left:212px;
    top:120px;
    width:140px;
    background: white;
    display: none;
}
.qiutian .sucai2 li{
    float: left;
    width: 120px;
}
.qiutian .sucai li span{
    vertical-align: middle;
    margin-left: 2px;
}
.input1{
    width: 1072px;
    height: 56px;
    list-style: none;
    background: rgb(240, 244, 245);
    border: 0;
    text-indent:1em;
    font-size: 20px;
    line-height: 56px;
    color: black;
    font-weight: bold;
    outline:none;
    border-bottom: 4px solid black;
  
}
.imgitem{
    /* height: 172px; */
    /* background: red; */
    /* margin-top: 20px; */
    padding-top: 60px;
    /* box-sizing: border-box; */

}
.imgitem h4{
    color: rgb(31, 31, 31);
    line-height: 1.4;
    margin-bottom: 8px;
    font-weight: 600;
}
.imgitem .ingsiz{
    /* height: 128px; */
    /* width: 16.66667%; */
    width: 16%;
    margin: 0 4px;
    position: relative;
    
    
}
.ingsiz:hover {
    transition: all .3s;
    box-shadow: 0 3px 2px 0 rgb(0, 0, 0,0.3);
    background: rgba(0, 0, 0, 0.3);
}
.ingsiz img{
    width: 100%;
    height: 128px;
    border-radius: 5px;
}
.ingsiz .tan{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    border-radius:  0 8px 8px 0;
    transition: all 0.3s ease 0s;
}
.ingsiz .tan .warrper{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 0px 8px 8px 0px;
}
.ingsiz .tan .cha{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color:#ffffff;
    line-height: 20px;
    transform: translateY(-50%);
}
.tag{
    position: absolute;
    top: 0;
    width: 12px;
    height: 8px;
    right: 6px;
    background-image: linear-gradient(rgb(255, 209, 0) 50%, transparent 50%);
    background-size: auto 4px;
}
.tag::after{
    width: 12px;
    position: absolute;
    top: 8px;
    content: "";
    display: block;
    border-style: solid;
    border-color: rgb(255, 209, 0) rgb(255, 209, 0) transparent;
    border-image: initial;
    border-top: 7px solid rgb(255, 209, 0);
    border-bottom: 3px solid transparent;
}


/* -------------------------------------------------------------------------------- */
.jjZEeY {
    height: 28px;
    text-align: center;
    line-height: 28px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(31, 31, 31);
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease 0s;
    /* margin: 0px 32px; */
}
.jjZEeY::after{
    content: "";
    position: absolute;
    bottom: -12px;
    left: 50%;
    width: 40px;
    height: 4px;
    transform: translateX(-50%);
    background: rgb(234, 67, 53);
}

/* ------------- */

.radiosclick .ta td{
    font-size: 14px;
    color: rgb(102, 102, 102);
    white-space: nowrap;
    padding: 16px 11px;
    border-bottom: 1px solid rgb(240, 244, 245);
}
/* .radiosclick td label{
    margin-right: 10px;
    padding: 0;
}  */
 .radiosclick .ta div{
    width: 120px;
    height: 12px;
    margin-bottom:10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
 .radiosclick .ta #myCheck5,#myCheck6,#myCheck7{
    display: none;
}
 .radiosclick .ta td #myCheck5 + label,.radiosclick #myCheck6 + label,.radiosclick #myCheck7 + label{
    background-color: #eee;
    border:3px solid #d3d3d3;
    width:16px;
    height:16px;
    display: inline-block;
    line-height: 6px;
    box-sizing:border-box;
    float: left;
    margin:3px;
}
 .radiosclick .ta td #myCheck5:checked + label,.radiosclick #myCheck6:checked + label,.radiosclick #myCheck7:checked + label{
    border:3px solid rgb(234, 67, 53);
    background: rgb(234, 67, 53);
}
.radiosclick .ta td #myCheck5:checked + label:after,.radiosclick #myCheck6:checked + label:after,.radiosclick #myCheck7:checked + label:after{
    content:"\2714";
    color: #fff;
    font-size: 12px;
}
.timeCount{

    margin-bottom: 20px;
}
.timeCount .span{
    color: #000;
    font-weight: 900;
    font-size: 14px;
}
