/* 展示区域 */
.banner{
    padding: 0 16px;
}
.banner .pic{
    width: 450px;
    height: 674px;
    float: left;
    background:url(../img/info/2236098969\ \(2\).jpg) no-repeat;
    background-size: 100%;
    margin-top: 96px;
}
.banner .jiesao{
    width: 582px;
    padding: 24px 24px 16px 24px;
    background: #fff;
    float: right;
    margin-top: 96px;
}
.jiesao h1{
    font-size: 16px;
    color: #000;
    margin-bottom: 24px;
}
.jiesao .p1{
    font-size: 14px;
    color: rgb(102,102,102);
}
.jiesao .p2{
    font-size: 14px;
    color: rgb(102,102,102);
    margin-top: 8px;
}
.jiesao .p2 a:hover{
    color: #EA4335;
}
.jiesao .p3{
    font-size: 14px;
    color: rgb(102,102,102);
    margin-top: 8px;
}
.jiesao .wen{
    color: #EA4335;
    position: relative;
    margin-top: 8px;
    display: inline-block;
    cursor: pointer;
}
.jiesao .wen:hover .yin{
    display: block;
}
.jiesao .wen .yin{
    position: absolute;
    color: #000;
    width: 300px;
    padding: 12px 20px;
    background: #fff;
    box-shadow: 0px 2px 13px #ccc;
    display: none;
}

.anniu{
    height: 40px;
    margin-top: 25px;
}
.anniu .an1{
    width: 106px;
    height: 40px;
    padding: 11px 12px;
    border: 1px solid #F0F4F5;
    margin-right: 16px;
    background: #fff;
    font-size: 14px;
}
.anniu .an2{
    font-size: 14px;
    width: 134px;
    height: 40px;
    padding: 11px 12px;
    background: #fff;
    border: 1px solid #F0F4F5;
}
.anniu .an3{
    font-size: 16px;
    font-weight: 700;
    width: 144px;
    height: 40px;
    background: #fff;
    border: 5px solid #000;
    float: right;
}
.img1{
    width: 16px;
    height: 16px;
    margin-top: 3px;
}
.img2{
    width: 16px;
    height: 16px;
    margin-top: 1px;
}
.img3{
    width: 16px;
    height: 16px;
    margin-top: 2px;

}
.img4{
    width: 16px;
    height: 16px;
    margin-top: 3px;
    margin-right: 5px;
}
.banner .xiazai{
    width: 582px;
    height: 320px;
    padding: 24px 24px 16px 24px;
    background: #fff;
    float: right;
    margin-top: 5px;
    position: relative;
}
.banner .xiazai .syagn{
    z-index: 2;
    position: absolute;
    left: 24px;
    top: 20px;
    cursor: pointer;
}
.banner .xiazai .syagn:hover{
    color: #EA4335;
}
.xiazai .qh{
    width: 518px;
    height: 40px;
    position: relative;
    margin: -8px 32px 32px;
}
.qh .qh1,.qh2{
    margin: 0 50px;
    font-size: 20px;
    text-align: center;
    line-height: 28px;
    color: #1f1f1f;
    cursor: pointer;
    width: 80px;
    height: 40px;
}
.qh .qh1{
    margin-left: 100px;
}
.qh .qh1:hover{
    color: #EA4335;
}
.qh .qh2:hover{
    color: #EA4335;
}
.qh .line{
    width: 4px;
    height: 20px;
    margin: 4px 24px;
    background: rgb(240, 244, 245);
}
.current{
    font-weight: bold;
}

/*.current::after {*/
    /*content: "";*/
    /*position: absolute;*/
    /*font-weight: 900;*/
    /*bottom: 0px;*/
    /*left: 120px;*/
    /*width: 40px;*/
    /*height: 4px;*/
    /*background: rgb(234, 67, 53);*/
/*}*/
.current1{
    font-weight: bold;
}

.current1::after {
    content: "";
    position: absolute;
    font-weight: 900;
    bottom: 0px;
    right: 125px;
    width: 40px;
    height: 4px;
    background: rgb(234, 67, 53);
}
.xiazai .mai{
    
}
.xiazai strong{
    color: #000;
    font-size: 16px;
    margin: 0 20px;
}
.xiazai .span1{
    display: inline-block;
    min-width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    color: rgb(255, 255, 255);
    background-color: rgb(31, 31, 31);
    padding-right: 6px;
    padding-left: 6px;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 20px;
}
.xiazai .span2{
    display: inline-block;
    min-width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 209, 0);
    padding-right: 6px;
    padding-left: 6px;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 20px;
}
.xiazai .span3{
    color: #000;
}
.xiazai .shop .btn3{
    position: relative;
    white-space: nowrap;
    word-break: keep-all;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
    width: auto;
    color: rgb(255, 255, 255);
    height: 48px;
    line-height: 40px;
    background: rgb(234, 67, 53);
    border-width: 4px;
    border-style: solid;
    border-color: transparent;
    transition: all 0.3s ease 0s;
    padding: 0px 24px;
    margin-right: 24px;
}
.xiazai .shop .btn4{
    position: relative;
    white-space: nowrap;
    word-break: keep-all;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
    width: auto;
    color: rgb(31, 31, 31);
    height: 48px;
    line-height: 40px;
    background: transparent;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(31, 31, 31);
    border-image: initial;
    transition: all 0.3s ease 0s;
    padding: 0px 24px;
    outline: 0px !important;
    margin-right: 24px;
}
h2{
    display: block;
    font-size: 1.8em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: rgb(31, 31, 31);
    line-height: 1.4;
    margin-top: 64px !important;
    margin-bottom: 4px !important;
}
.zuoze>span{
    display: inline-block;
    margin-top: 4px;
    margin-bottom: 16px;
    color: #1f1f1f;
}
.zuoze .mulu{
    width: 10px;
    height: 10px;
    margin-top: 13px;
    margin-right: 5px;
    background: yellow;
}
.wai{
    height: 167px;
}
.wai li{
    float: left;
    margin-right: 21px;
}
.wai li.last{
    margin: 0;
}
.wai li a{
    display: block;
    height: 167px;
}
.wai li a img{   
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%; 
}
.genduo{
    /*height: 210px;*/
}
img.tupian{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin-top: 20px; 
}
.liebiao{
    margin-top: 24px;
    padding-bottom: 150px;
}
.liebiao ul li{
    float: left;
    margin-right: 26px;
    position: relative;
}
.liebiao ul li a{
    color: rgb(31, 31, 31);
    line-height: 22px;
    position: relative;
    background: white;
    padding: 8px 20px 8px 34px;
    transition: color 0.3s ease 0s;
    border-radius: 100px 0px 0px 100px;
    font-size: 16px;
}
.liebiao ul li a:hover{
    color: #EA4335;
}
.liebiao ul li a:hover .span4{
    background: #e95f7a;
}
.liebiao .span4{
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 6px;
    height: 6px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #ccc;
}